@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-light-gray-300: #D9D9D9;
  --color-light-gray-200: #E6E6E6;
  --color-light-gray-100: #F2F2F2;

  --color-dark-gray-300: #1A232F;
  --color-dark-gray-200: #1F2937;
  --color-dark-gray-100: #2A3441;
}

.light {
  --color-dominant-300: var(--color-light-gray-300);
  --color-dominant-200: var(--color-light-gray-200);
  --color-dominant-100: var(--color-light-gray-100);

  --color-contrast-300: var(--color-dark-gray-300);
  --color-contrast-200: var(--color-dark-gray-200);
  --color-contrast-100: var(--color-dark-gray-100);
}

.dark {
  --color-dominant-300: var(--color-dark-gray-300);
  --color-dominant-200: var(--color-dark-gray-200);
  --color-dominant-100: var(--color-dark-gray-100);

  --color-contrast-300: var(--color-light-gray-300);
  --color-contrast-200: var(--color-light-gray-200);
  --color-contrast-100: var(--color-light-gray-100);
}
